body {
    color: #fff;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
    font-size: 22px;
    background-color: rgb(0, 0, 0, 0.8);
    font-family: sans-serif;
}

.first-page {
    display: flex;
}

.choose-one {
    width: 350px;
    height: 500px;
    background-color: aqua;
    margin-top: 120px;
    margin-left: 250px;
    font-size: 45px;
    text-align: center;
}

.choose-two {
    width: 350px;
    height: 500px;
    background-color: aqua;
    margin-top: 120px;
    margin-left: 300px;
}

.biggest-countries {
    display: none;
}

.div-body {
    /*display: none;*/
}

.smallest-countries {
    display: none;
}

.flag {
    position: absolute;
    cursor: pointer;
}

#flag-1 {
    top: 120px;
    left: 150px;
}

#flag-2 {
    top: 120px;
    left: 1000px;
}

#flag-3 {
    top: 295px;
    left: 580px;
}

#flag-4 {
    top: 470px;
    left: 150px;
}

#flag-5 {
    top: 470px;
    left: 1000px;
}

.btn-backFirstPage {
    margin-top: 530px;
    margin-left: 605px;
    width: 300px;
    height: 70px;
    font-size: 22px;
    background: #000000;
    color: #ffffff;
    border: 1.5px solid #fff;
    padding: 0.2em 0.6em;
    border-radius: 8px;
}

.btn-backFirstPage:hover {
    background: #ffffff;
    color: #000000;
    border: 1.5px solid #000000;
    cursor: pointer;
}


.modal {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    margin-top: -32%;
    max-width: 600px;
    border-radius: 8px;
    display: none;
    font-size: 20px;
    color: #fff;
    border: 4px solid #000000;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
}

h1 {
    text-align: center;
}

.country-info {
    margin-left: 20px;
}

.btn-close {
    width: 100px;
    height: 35px;
    font-size: 20px;
    background: #000000;
    color: #ffffff;
    border: 1.5px solid #fff;
    margin-bottom: 18px;
    margin-left: 80%;
    padding: 0.2em 0.6em;
    border-radius: 8px;
  }

  .btn-close:hover {
    background: #ffffff;
    color: #000000;
    border: 1.5px solid #000000;
    cursor: pointer;
  }
